[submodule "all"]
	path = all
	url = git@github.com:aoindustries/ao-appcluster-all.git
	branch = .
[submodule "core"]
	path = core
	url = git@github.com:aoindustries/ao-appcluster-core.git
	branch = .
[submodule "csync2"]
	path = csync2
	url = git@github.com:aoindustries/ao-appcluster-csync2.git
	branch = .
[submodule "dnsonly"]
	path = dnsonly
	url = git@github.com:aoindustries/ao-appcluster-dnsonly.git
	branch = .
[submodule "imap"]
	path = imap
	url = git@github.com:aoindustries/ao-appcluster-imap.git
	branch = .
[submodule "jdbc"]
	path = jdbc
	url = git@github.com:aoindustries/ao-appcluster-jdbc.git
	branch = .
[submodule "bom"]
	path = bom
	url = git@aoindustries.github.com:aoindustries/ao-appcluster-bom.git
	branch = .
