[submodule "ao-appcluster-all"]
	path = ao-appcluster-all
	url = git@github.com:aoindustries/ao-appcluster-all.git
[submodule "ao-appcluster-core"]
	path = ao-appcluster-core
	url = git@github.com:aoindustries/ao-appcluster-core.git
[submodule "ao-appcluster-csync2"]
	path = ao-appcluster-csync2
	url = git@github.com:aoindustries/ao-appcluster-csync2.git
[submodule "ao-appcluster-dnsonly"]
	path = ao-appcluster-dnsonly
	url = git@github.com:aoindustries/ao-appcluster-dnsonly.git
[submodule "ao-appcluster-imap"]
	path = ao-appcluster-imap
	url = git@github.com:aoindustries/ao-appcluster-imap.git
[submodule "ao-appcluster-jdbc"]
	path = ao-appcluster-jdbc
	url = git@github.com:aoindustries/ao-appcluster-jdbc.git
[submodule "all"]
	path = all
	url = git@github.com:aoindustries/ao-appcluster-all.git
[submodule "core"]
	path = core
	url = git@github.com:aoindustries/ao-appcluster-core.git
[submodule "csync2"]
	path = csync2
	url = git@github.com:aoindustries/ao-appcluster-csync2.git
[submodule "dnsonly"]
	path = dnsonly
	url = git@github.com:aoindustries/ao-appcluster-dnsonly.git
[submodule "imap"]
	path = imap
	url = git@github.com:aoindustries/ao-appcluster-imap.git
[submodule "jdbc"]
	path = jdbc
	url = git@github.com:aoindustries/ao-appcluster-jdbc.git
